<!--ユーザーの詳細ページ-->

<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <%end%>
  <!--ログインしているユーザーに本人のみ、編集リンクを表示させる-->
<!--画面に表示しているユーザーと、ログインしているユーザーのIDが一致するか確認-->
</div>

<!--ユーザーの投稿一覧画面-->
<!--部分テンプレート-->

<%= render 'post_images/list', post_images: @post_images %>
<!--post_imagesフォルダ内から呼び出す　フォルダ名も指定する-->